#==========================#
#  General Python Ignore   #
#==========================#
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
*.log

#==========================#
#   Environment & Secrets  #
#==========================#
.env
.env.*

#==========================#
#     Bytecode & Builds    #
#==========================#
dist/
build/
*.spec

#==========================#
#     Jupyter Notebooks    #
#==========================#
.ipynb_checkpoints/

#==========================#
#      OS Artifacts        #
#==========================#
.DS_Store
Thumbs.db

#==========================#
#      IDE Settings        #
#==========================#
.vscode/
.idea/
*.swp

# ========================== #
#     Large Cached Data      #
# ========================== #
cache/**